.h-2 {
    height: 0.5rem;
}
.h-5 {
    height: 1rem;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.w-2 {
  width: 0.5rem;
}
.rlb-flex {
    display: flex;
}
.relative {
    position: relative;
}
.rlb-section {
    position: relative;
    width: 100%;
}
.rlb-section-container {
    background-size: cover !important;
}
.rlb-section-hover:hover {
    margin-top: 20px;
}
.rlb-section:hover .rlb-section-settings {
    visibility: visible;
    height: unset;
    padding: 5px;
}
.rlb-section-settings>span {
    padding-right: 8px;
}
.rlb-section-settings {
    /* visibility: hidden; */
    visibility: hidden;
    background: #bbb;
    display: flex;
    padding: 5px;
    position: absolute;
    right: -2px;
    top: -35px;
    z-index: 500;
    cursor: pointer;
}
.rlb-section-setting-title {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
.rlb-row {
    display: flex;
    width: 100%;
}
.rlb-col {
    display: flex;
    position: relative;
    width: 100%;
}
.rlb-col:hover .rlb-resize-handler {
    visibility: visible;
}
.rlb-col-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* resize hanlder */

.rlb-droppable-section {
    padding: 10px;
    width: 95%;
    margin: auto;
    position: absolute;
    z-index: 500;
}
.rlb-droppable-section.top {
    top: -5px;
}
.rlb-droppable-section.bottom {
    bottom: -5px;
}
.rlb-section-content {
    padding-left: 20px;
    padding-right: 20px;
}

.rlb-droppable-section.hover {
    padding: 25px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.rlb-droppable-section.top.hover {
    box-shadow: 0px -2px 0px 0 #fff;
    border-top: 2px solid #fc0454;
}

.rlb-droppable-section.bottom.hover {
    box-shadow: 0px 2px 0px 0 #fff;
    border-bottom: 2px solid #fc0454;
}

.rlb-col:hover .rlb-droppable-side {
    display: none;
}

.rlb-droppable-side {
    padding: 0;
    transition-duration: .2s;
    transform-style: preserve-3d;
    width: 40px;
    position: absolute;
    height: 100%;
    z-index: 900;
}
.rlb-droppable-side.ds-right {
    right: -20px;
}
.rlb-droppable-side.ds-left {
    left: -20px;
}



/* border-2 rounded-sm border-dashed flex items-center justify-center border-gray-500 w-[50%] mx-2 */
.rlb-droppable-side-hover {
    background: transparent;
    justify-content: center;
    align-items: center;
    /* margin-left: 8px;
    margin-right: 8px; */
    display: flex;
}



.rlb-droppable-item {
    height: 10px;
}

.rlb-droppable-item-hover {
    padding: 15px;
    text-align: center;
    /* margin-top: 8px;
    margin-bottom: 8px; */
    box-shadow: 0px 2px 0px 0 #fff;
    border-bottom: 2px solid #fc0454;
}

.rlb-droppable-side-hover.ds-left {
    box-shadow: -2px 0px 0px 0 #fff;
    border-left: 2px solid #fc0454;
}
.rlb-droppable-side-hover.ds-right {
    border-right: 2px solid #fc0454;
    box-shadow: 2px 0px 0px 0 #fff;
}
.white {
    color: white;
}

/* sections settings */
.rlb-section-setting-modal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background: #fff;
    box-shadow: 2px 2px 18px 0 #ccc;
    z-index: 999;
}
.rlb-range-input {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rlb-range-input>span {
    padding-left: 10px;
}
.rlb-range-input-nb {
    width: max-content;
}

/* resizable container */

.rlb-resizable-container {
    position: relative;
    margin-inline: auto;
    width: 100%;
    transition-duration: .2s;
    transform-style: preserve-3d;
}


/* .rlb-resizable-container.resizable:hover {
    
} */
.rlb-resizable-container.resizable.no-padding {
    padding: 0px;
}
.rlb-resizable-container.resizable {
    padding-inline: 10px;
    border: 1px solid transparent
}

 
.rlb-resize-handler {
    background: #fff0;
    cursor: col-resize;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 30px;
    z-index: 800;
}
.rlb-resize-handler:hover {
    opacity: 1;
    z-index: 1000;
}
.rlb-resizable-inner:hover .rlb-resize-handler, .rlb-resize-handler:hover {
    z-index: 1000;
}
.rlb-resize-handler.left {
    left: 0;
}
.rlb-resize-handler.right {
    right: 0;
}
.rlb-resize-handler.left:before {
    content: "";
    width: 6px;
    position: absolute;
    height: 60%;
    top: 20%;
    background: #7c7c7c;
    left: 5px;
    border-right: 3px solid #fff;
}
.rlb-resizable-inner {
    width: "100%";
    position: relative;
}
.rlb-resize-handler:hover ~ .rlb-col .rlb-droppable-side {
    visibility: hidden;
}
.rlb-resize-handler.right:before {
    content: "";
    width: 6px;
    position: absolute;
    height: 60%;
    top: 20%;
    background: #7c7c7c;
    right: 5px;
    border-right: 3px solid #fff;
}
/* draggable container*/
.rlb-draggable-container {
    position: relative;
    
}
.rlb-draggable-container.draggable {
    border-width: 1px;
    border-color: transparent;
}

.rlb-draggable-container.draggable:hover .rlb-drag-icon {
    visibility: visible;
}
.rlb-drag-icon {
    background: #f2f3f4;
    border-radius: 5px;
    left: -13px;
    padding-block: 5px;
    position: absolute;
    top: 5px;
    visibility: hidden;
    z-index: 999;
}